* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    height: 50px;
    border-radius: 50%;
}

.nav-tabs {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-tabs a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-tabs a:hover {
    background-color: #3498db;
    border-radius: 5px;
}

/* Services Section */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    flex: 1;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    padding: 0 15px 15px;
}

.card .learn-more {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card .learn-more:hover {
    background-color: green;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #173447;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-content img {
    height: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-tabs {
        flex-direction: column;
        width: 100%;
    }

    .nav-tabs a {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: none;
    }
}
